<!DOCTYPE html>
<html>
    <head>
        <title>ML App</title>
    </head>
        <center>
        <div class="wp-block-cover aligncenter has-background-dim has-background-gradient is-position-center-center"
                style="background:linear-gradient(135deg,rgb(169,3,215) 0%,rgb(84,0,126) 100%);min-height:50px">
        <div class="wp-block-cover__inner-container">
                <h1><strong> <strong><strong>Calcula la edad</strong> </strong></h1></div></div>

    <body style="background-color: #afffdd ; background-repeat: no-repeat;">
        <form name="form", method="POST", style="text-align: center;">
            <br>
            Altura: <input type="number" name="Altura", placeholder="Introduzca la altura en cm" required/>
            <br><br>
            Peso: <input type="number" name="Peso", placeholder="Introduzca el peso en kg" required/>
            <br><br>
            <button value="Submit">Ejecutar</button>
        </form>
        <p style="text-align: center;">{{ output }}</p>
    </body>
</html>
