<!DOCTYPE html>
<html>
    <head>
        <title>Your Machine Learning App</title>
    </head>
    
    <body>
        <form name="form", method="POST", style="text-align: center;">
            <br>
            Height: <input type="number" name="Altura", placeholder="Introduzca la altura en cm" required/>
            <br><br>
            Weight: <input type="number" name="Peso", placeholder="Introduzca el peso en kg" required/>
            <br><br>
            <button value="Submit">Ejecutar</button>
        </form>
        <p style="text-align: center;">{{ output }}</p>
    </body>
</html>
